@import '../../styles/variables.scss';

.menuContainer {
  position: fixed;
  top: -250px;
  left: -740px;
  height: calc(100vh + 500px);
  width: 800px;
  background: $secondaryColor;
  transition: all .3s ease-in-out;
  &.active {
    left: -240;
    transform: rotate(25deg);
  }
  .hamburgerContainer {
    position: absolute;
    top: 266px;
    right: 1rem;
    width: 32px;
    height: 28px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    span {
      position: absolute;
      width: 32px;
      height: 4px;
      background: $primaryColor;
      transition: all .3s ease-in-out;
    }
    span:nth-of-type(1) {
      top: 0;
    }
    span:nth-of-type(2) {
      top: 12px;
    }
    span:nth-of-type(3) {
      top: 24px;
    }
    &.active {
      top: 50px;
      transform: rotate(-25deg);
      span:nth-of-type(1) {
        top: 12px;
        transform: rotate(45deg);
      }
      span:nth-of-type(2) {
        opacity: 0;
      }
      span:nth-of-type(3) {
        top: 12px;
        transform: rotate(-45deg);
      }
    }
  }
}