@import '../../styles/variables.scss';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $secondaryColor;
  }
  .modeToggleContainer {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 40px;
    background: $secondaryColor;
    cursor: pointer;
    span {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      background: $primaryColor;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      &.darkMode {
        transform: translateX(calc(100% + 4px));
      }
    }
  }
}